# Ignorar carpetas y archivos generados automáticamente
/target/
*.log
*.class

# Configuración específica de Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties

# Archivos de IDEs (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# Configuración de sistema operativo
.DS_Store
Thumbs.db
